/* General */
body {
  background-image: linear-gradient(160deg, #A30161, #D52D00, #F5ABB9);
  font-family: Open Sans, Arial, Helvetica, sans serif;
  min-height: 100vh;
  margin: 0 8px;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Page Elements */
h1 {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: #FFFFFF;
}

.link {
  border: 3px solid #FFF;
  width: 100%;
  max-width: 300px;
  margin: 5px;
  padding: 8px;
  border-radius: 21px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: larger;
}

/* RWD */
@media only screen and (min-width: 600px) {
  .container { max-width: 800px; }
}

@media only screen and (min-width: 800px) {
  .link { max-width: 230px; }
}


