/* General */
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  max-width: 980px;
  padding: 30px 10px;
}

.javascript-only {
  display: none;
}

/* colours */
.bg-disabled {
  background-color: #F0E7E7;
}

/* Generic Flexbox */
.flex-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item-small {
  width: 80px;
}

.flex-item-medium {
  width: 120px;
}

.flex-item-large {
  width: 200px;
}

/* Navbar */
.navbar {
  display: flex;
  margin: auto;
  max-width: 1000px;
  text-decoration: none;
  background-color: #F0F0F0;
  color: black;
  align-items: stretch;
}

@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
}

.navbar-element {
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #00000000;
  font-size: initial;
  display: flex;
  align-items: center;
}

.navbar-element.selected {
  background-color: #E9E9E9;
}

.navbar-element:hover {
  background-color: #D7D7D7;
  border: none;
}

.navbar-element-disabled {
  padding: 10px;
  color: black;
  text-decoration: none;
  border: none;
  background-color: #00000000;
  font-size: initial;
  display: flex;
  align-items: center;
}

.navbar-element-image {
  padding: 5px;
  height: 40px;
}

/* Forms */
.form-element {
  padding: 5px 0px;
}

.form-label {
  padding: 5px;
}

.form-input {
  padding: 5px;
  border: 1px solid #6F6F6F;
  border-radius: 4px;
}

.button-submit {
  padding: 5px;
  background-color: #9FFF9F;
  border: 1px solid #007F00;
  border-radius: 4px;
}

.button-new {
  padding: 5px;
  background-color: #9FFF9F;
  border: 1px solid #007F00;
  border-radius: 4px;
}

.button-edit {
  padding: 5px;
  background-color: #9F9FFF;
  border: 1px solid #00007F;
  border-radius: 4px;
}

.button-delete {
  padding: 5px;
  background-color: #FF7F7F;
  border: 1px solid #7F0000;
  border-radius: 4px;
}

.button-with-image {
  height: 32px;
}

/* Link List */
.linklist {
  border: 1px solid black;
  border-radius: 5px;
}

.linklist-title {
  background: #D7D7D7;
  border-radius: 5px;
  display: block;
  margin: 0px;
}

.linklist-title label {
  display: block;
  padding: 20px;
}

.linklist-content {
  display: none;
}

.linklist-checkbox:checked + .linklist .linklist-content {
  display: block;
} 

/* Text formatting */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Error list */
.error-list {
  padding: 5px 5px 5px 23px;
  background-color: #FF8F9F;
  color: #7F0000;
  border: 1px solid #7F0000;
  border-radius: 4px;
}

.notify-list {
  padding: 5px 5px 5px 23px;
  background-color: #9FFF9F;
  color: #005F00;
  border: 1px solid #005F00;
  border-radius: 4px;
}

/* Tables */
.table {
  width: 100%;
  border: 1px solid #6F6F6F;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.table tbody tr:nth-of-type(2n+1) {
  background-color: #00000010;
}

.table td {
  border: 1px solid #6F6F6F;
  padding: 5px;
}

.table th {
  border: 1px solid #6F6F6F;
  padding: 5px;
}

/* Other Elements */
.dropdown {
  padding: 5px;
  width: 100%;
  max-width: 500px;
}

.listbox {
  padding: 5px;
  width: 100%;
}
